
*{
    margin: 0;
}
.heading{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    height: 30vh;
    width: 100vw;
    text-align: center;
}
.heading > h1{
    padding: 20px 0 5px 0;
    color: white;
    font-size: clamp(1em, 10vw, 5em);
    letter-spacing: 10px;
}
.heading > p{
    padding: 10px 0;
    color: white;
}